body {
    font-family: 'Roboto', sans-serif;
    background-color: #ff7e5f; /* Solid background color */
    text-align: center;
    padding: 20px; /* Reduced padding for mobile */
    color: #fff;
    margin: 0; /* Remove default margin */
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px; /* Adjusted padding for mobile */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: inline-block; /* Center container */
    max-width: 90%; /* Limit the width for mobile */
}

h1 {
    font-size: 2.2em; /* Adjusted font size for mobile */
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin: 15px 0; /* Adjusted margin for mobile */
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 12px 20px; /* Adjusted padding for mobile */
    font-size: 1.1em; /* Adjusted font size for mobile */
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#yesButton {
    background-color: #28a745;
    color: #fff;
}

#noButton {
    background-color: #dc3545;
    color: #fff;
}

button:hover {
    opacity: 0.9; /* Slightly transparent on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

#customMessage {
    font-size: 1.5em;
